#table header {
    background-color: rgb(7, 45, 91);
    font-weight: bold;
}


#table { 
    flex-direction: COLUMN;
    border-collapse: collapse; 
    background-color: rgb(14, 70, 118);
    font-size: 18px;
    font-family: system-ui;
    margin-right: 10px;
    margin-left: 10px;
    width: 50%
}

#td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
}

