

h1 {
    color: #2c3e50;
    font-family: Arial, sans-serif;
}
h2 {
    font-family: Arial, sans-serif, "red serifs";
    color:rgb(0, 0, 0)
}
p {
    margin-left: -15px;
    font-family: Arial, sans-serif;
    border-left: 3px solid black;
    padding-left: 20px;
}
var {
    font-family: Arial, fantasy;
    border-bottom: #2c3e50 solid 2px;
}
div {
    width: fit-content;
    padding: 20px;
    margin-bottom: 20px;
    p.solid {border-style: solid;}
    border-left : 5px solid rgb(208, 31, 31);
    border-top : 5px solid rgb(208, 31, 31);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.173);
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
